body {
    background-color: black;
    color: white;
    margin: 0;
    font-family: Arial;
}

.main-heading {
    text-align: center;
    margin: 80px 0;
}

.img-div {
    text-align: center;
    margin-bottom: 60px;
    width: 60%;
    margin: auto;
    margin-bottom: 80px;
}

.img-div img {
    max-width: 100%;
}

.img-div p {
    font-weight: bold;
    font-size: 18px;
}